.mianHeader {
    .ant-layout-header {
        display: flex;
        height: 64px;
        justify-content: space-between;
        align-items: center;
        background-color: #0099ff !important;
        padding: 0;
        border: 1px solid #777;
        .site-layout-background {
        background: #fff;
        }
        .logo {
            background: rgb(170, 179, 187);
            /* margin: 16px; */
            width: 1.5rem;
            height: 100%;
        }
        .logo-right {
            display: flex;
            height: 64px;
            justify-content: space-between;
            align-items: center;
            width: 200px;
            .jump {
                color: #000;
            }
        }
        .search {
            input {
                width: 200px;
                border: 1px solid #999999;
                height: 30px;
            }
        }
        .header-img {
            img {
                height: 30px;
                width: 30px;
                margin-left: 10px;
            }
        }
        .loginout{
            padding: 0 20px;
            .jump {
                color: #000;
            }
        }
        

    }
}
.mainContain {
    height: 90vh;
}
