.procontent {
    .search-add{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .edit, .dele{
        color: #1890ff;
    }
    
}