.login-frombox {
    .login-title {
        text-align: center;
        height: 0.5rem;
        line-height: 0.5rem;;
    }
    
    .login-form {
        max-width: 3rem;
        margin: 0 auto;
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
    }
    
}